<h1>Team 1: <%= @team1.name %></h1>
<h1>Team 2: <%= @team2.name %></h1>
<h2>Team 1 Score: <%= @game.team_1_score %></h2>
<h2>Team 2 Score: <%= @game.team_2_score %></h2>
<h2>Game Winner: <%= @game.team_1_score > @game.team_2_score ? @team1.name : @team2.name %></h2>

<p><%= link_to "Edit game", edit_game_path(@game) %></p>
<p><%= link_to "Delete game", game_path(@game),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to games", games_path %></p>